* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
    width:100%;
    max-width:1320px;
}

/* banner section end  */
.container{
    max-width:1240px;
    width: 85%;
    margin: 50px auto;
}

.banner {
    background-image: url(./image/Banner\ Image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.heading-text {
    text-align: center;
    justify-content: center;
    padding: 177px 300px;
}

.heading-text h3 {
    color: #fff;
    text-align: center;
    font-family: Merriweather;
    font-size: 50px;
    font-style: normal;
    font-weight: 900;
}

.heading-text h4 {
    color: #fff;
    text-align: center;
    font-family: Merriweather;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* banner section end  */

/* holiday -section start  */
.container-holiday {
    width: 85%;
    max-width: 680px;
    margin: 0 auto;
}

.container-holiday .holiday-text {
    text-align: center;
    
}

.holiday-text h2 {
    color: #f00;
    text-align: center;
    font-family: Inter;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.holiday-text h5{
    color: #f00;
    text-align: center;
    font-family: Inter;
    font-size:px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.holiday-text h4 {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.holiday-img {
    text-align: center;
    justify-content: center;
    width: 680px;
    height: 500px;
}

/* holiday -section start  */

/* midnight party start  */

.midnight-banner {
    background-image: url("./image/Vectorrr.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.midnight-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.midnight-text {
    padding: 50px 0px 50px 50px;
    align-items: center;
}

.midnight-text h3 {
    align-items: center;
    color: #fff;
    font-family: Merriweather;
    font-size: 80px;
    font-style: normal;
    font-weight: 900;


}

.midnight-text p {
color: rgba(255, 255, 255, 0.80);
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px;
text-align: justify;
}

button {
    color: #FFF;
    text-align:center;
    font-family: Inter;
    font-size: 14px;
    font-style:normal;
    font-weight: 400;
    line-height: normal;
    text-transform:uppercase;
    background:#411599;
    border-radius: 10px;
    border:none;
    padding: 10px 10px;
}
button:hover{
    background: skyblue;
    transition: 1s;

}

.midmight-img{
    padding:50px 50px ;
}

/* midnight party end */




/* park hotel start */

.park-hotel-text{
 background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
 text-align: center;
 margin:0 auto;
 padding: 100px 0px;
}

.park-hotel-button{
color: #FFF;
text-align: center;
font-family: Inter;
font-size: 13px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
background:#411599;
margin-top: 20px;


}
/* park hotel end */


/* best offer start  */

.best-offer-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.best-banner{
    background: #FFF;
    margin-top: 50px;
}
.offer-text h5{
color: #F00;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.offer-text h4{
    color: #070211;
    font-family: Merriweather;
    font-size:30px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}
.offer-text p{
color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
padding: 10px 50px 10px 0px;
text-align: justify;

}
.offer-img img{
border-radius:200px;
border:10px solid #F00;
padding:10px 20px 10px 10px;
width: 250px;

}
.offer-text-img{
    text-align: center;
    padding:10px;
    margin-left:10px;
   
}
.offer-text-img h3{
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
color: #f00;
padding-bottom: 20px;
   
}
.offer-text-img p{
    color: rgba(7, 2, 17, 0.60);

    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    padding-bottom: 20px;
    text-align: justify;
    
}



/* best offer end */

 /* holiday offer section start  */
.holiday-offer-text{
    text-align: center;
}
.holiday-offer-text h5{
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding: 5px 200px;
}
.holiday-offer-text h3{
    color: #070211;
    font-family: Merriweather;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    padding: 5px 200px;
}
.holiday-offer-text p{
color: rgba(7, 2, 17, 0.60);
text-align: center;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
padding: 5px 100px;
text-align: justify;
}
span{
    color: #f00;
}

 .banner-item{
    width:1080px;
    position:relative;
    margin:700px auto;

}
.box1{
    position:absolute;
    bottom:200px;
    right:350px;
    z-index: 1;
}
.box2{
    
    bottom:176px;
    border-radius:100px;
    position: absolute;
    right:0;
}
.box3{
   
    position: absolute;
    bottom:0px;
    right:400px;
    z-index:1;

}
.box4 img{
    width:1080px;
    bottom:0;
    left:0;
    position: absolute;
    margin-top: 50px;
}








 /* holiday offer section end  */

/* portfolio section start  */

.protfolio-text h5{
color: #F00;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-bottom: 10px;

}
.protfolio-text h4{
    color: #070211;
    font-family: Merriweather;
    font-size: 30px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.protfolio-text p{
color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 32px; 
margin-bottom: 10px;
text-align: justify;
}
.image-div{
    display: flex;
    justify-content:space-between;
    margin: 10px 0;
    
}

.image-div img{
   width:350px;
   height:350px;
   padding-left: 10px;

   
}
/* portfolio section end  */


/* subscribe section start  */

.subscribe-banner{
border-radius:16px;
background: rgba(255, 0, 0, 0.05);

}
.subscribe-content{
padding:100px 0;
text-align: center;
}
.subscribe-text h3{
color: #070211;
text-align: center;
font-family: Merriweather;
font-size:40px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
}
.subscribe-text p{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    padding: 10px 100px;
    text-align: justify;
}

.subscribe-button{
color: #FFF;
text-align: center;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: capitalize;
background: #F00;
border-radius:0px 50px 50px 0px;
padding: 13px;

}

.subscribe-input input{
display:inline-block;
border:none;
padding:16px;
width: 250px;
border-radius:50px 0px 0px 50px;
}
/* subscribe section end  */



/* footer section start  */
.footer-cntainer{
    width:100%;
    max-width:1320px;
    background: #070211;


}
.nornal-text p{
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 40px; 
color: #FFF;
text-align: justify;
}
.footer-text{
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    padding:50px 100px;


}
.icon-img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:50px;
}
.icon-img img{
    margin: 10px;
}
.icon-text{
 font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 40px; 
color: #FFF;
}

.footer-last-text{
    display: flex;
    justify-content: space-between;
}
.footer-last-text p{
padding: 100px;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
color: #FFF;
text-align: justify;
}
hr{
    width: 50%;
    color: #19065d;
    margin: 0 auto;

}
span img{
    width: 15px;
}

/* footer section end  */